<Alloy>
    <View id="settingsView">
        <View id="settingsTopBar">
			<View id="menuButton">
				<Label icon="fa-bars" id="settingsButtonIcon"></Label>
			<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</View>
			<View id="titleSettingsView">
				<Label id="titleSettingsLabel">Settings</Label>
			</View>
		</View>
		<View class="menu-underline"/>
		<TableView class="settingsTable" id="settingsTable">
	        <TableViewRow class="tableRow" id="payment">
				<View class="rowContainer">
					<Label id="" class="rowLabel font-style">Payment</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
			<TableViewRow class="tableRow" id="edituserprofile">
				<View class="rowContainer">
					<Label id="" class="rowLabel font-style">Edit Profile</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
			<TableViewRow class="tableRow" id="faq">
				<View class="rowContainer">
					<Label id="" class="rowLabel font-style">FAQ</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
			<TableViewRow class="tableRow" id="contactUs">
				<View class="rowContainer">
					<Label id="" class="rowLabel font-style">Contact Us</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
			<TableViewRow class="tableRow" id="aboutUs">
				<View class="rowContainer">
					<Label id="" class="rowLabel font-style">About Selbi</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
			<TableViewRow class="tableRow" id="privacy">
				<View class="rowContainer">
					<Label id="" class="rowLabel font-style">Privacy Policy</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
			<TableViewRow class="tableRow" id="termsconditions">
				<View class="rowContainer">
					<Label id="" class="rowLabel font-style">Terms & Conditions</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
		</TableView>
    </View>
</Alloy>
