<Alloy>
    <View id="settingsView">
        <View id="settingsTopBar">
			<View id="menuButton">
				<Label icon="fa-arrow-left" id="settingsButtonIcon"></Label>
			<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</View>
			<View id="titleSettingsView">
				<Label id="titleSettingsLabel">Settings</Label>
			</View>
		</View>
		<View class="menu-underline"/>
		<TableView class="settingsTable" id="settingsTable">
	        <TableViewRow class="tableRow" id="payment">
				<View class="rowContainer">
					<Label id="" class="rowLabel">Payment</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
			<TableViewRow class="tableRow" id="edituserprofile">
				<View class="rowContainer">
					<Label id="" class="rowLabel">Edit Profile</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
			<TableViewRow class="tableRow" id="faq">
				<View class="rowContainer">
					<Label id="" class="rowLabel">FAQ</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
			<TableViewRow class="tableRow" id="feedbackHelp">
				<View class="rowContainer">
					<Label id="" class="rowLabel">Feedback & Help</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
			<TableViewRow class="tableRow" id="privacyPolicy">
				<View class="rowContainer">
					<Label id="" class="rowLabel">Privacy Policy</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
			<TableViewRow class="tableRow" id="userAgreement">
				<View class="rowContainer">
					<Label id="" class="rowLabel">User Agreement</Label>
					<Label icon="fa-chevron-right" class="rowLabel row-icon" id=""></Label>
				</View>
				<Widget id="fa" src="com.mattmcfarland.fontawesome"/>
			</TableViewRow>
		</TableView>
    </View>
</Alloy>
